<!-- JavaScript -->
<script type="text/javascript">
	$(document).ready(function() {
		$('.bannerTop').wmuSlider({
	 		pagination: true,
	 		nav: false,
		});
	});
</script>
<!-- Banner -->
<div class="banner">
	<div class="container">
		<div class="wmuSlider bannerTop">
	   		<div class="wmuSliderWrapper">
			 	<article style="position: absolute; width: 100%; opacity: 0;">
				   	<div class="banner-wrap">
						<div class="banner-top">
							<div class="banner-top-in">
								<img src="images/small_banner_1.jpg" class="img-responsive" alt="">
							</div>
							<div class="cart-at grid_1 simpleCart_shelfItem">
								<div class="item_add"></div>
								<div class="off">
									<label>15% de descuento</label>
									<p>Al comprar más de 25 unidades de artículos DELL</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="banner-top banner-bottom">
							<div class="banner-top-in at">
								<img src="images/big_banner_1.jpeg" class="img-responsive" alt="">
							</div>
							<div class="cart-at grid_1 simpleCart_shelfItem">
								<div class="item_add"></div>
								<div class="off">
									<label>Hasta un 35%</label>
									<p>Para pedidos superiores a 50 unidades</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
				   		 <div class="clearfix"></div>
				   	 </div>
				 </article>
				 <article style="position: absolute; width: 100%; opacity: 0;">
				 	<div class="banner-wrap">
				 		<div class="banner-top">
				 			<div class="banner-top-in">
				 				<img src="images/small_banner_2.jpg" class="img-responsive" alt="">
				 			</div>
				 			<div class="cart-at grid_1 simpleCart_shelfItem">
				 				<div class="item_add"></div>
				 				<div class="off">
				 					<label>10% de descuento</label>
				 					<p>En artículos de audio</p>
				 				</div>
				 			</div>
				 			<div class="clearfix"></div>
				 		</div>
				 		<div class="banner-top banner-bottom">
				 			<div class="banner-top-in at">
				 				<img src="images/big_banner_2.jpg" class="img-responsive" alt="">
				 			</div>
				 			<div class="cart-at grid_1 simpleCart_shelfItem">
				 				<div class="item_add"></div>
				 				<div class="off">
				 					<label>Has un 15%</label>
				 					<p>En manos libres Bluetooth</p>
				 				</div>
				 			</div>
				 			<div class="clearfix"></div>
				 		</div>
			 		 	<div class="clearfix"></div>
		 	 		</div>
				  </article>
			</div>
			<ul class="wmuSliderPagination">
            	<li><a href="#" class="">0</a></li>
            	<li><a href="#" class="wmuActive">1</a></li>
            </ul>
		</div>
	</div>
</div>
