<!-- The Best -->
<div class="content-bottom">
	<div class="col-md-12 latter">
		<h6>ELECTRONICS</h6>
		<p>
			Nuestro objetivo es convertirnos en el mayor
			proveedor mayorista en artículos de electrónica
			e informática del mercado
		</p>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</div>
